{% extends "layout.html" %} {% block content %}
<section>
  <h2>Remove Author from Book</h2>
  <form method="POST" action="{{ url_for('routes.remove_author_book') }}">
    <label for="book_id">Select Book:</label>
    <select name="book_id" id="book_id" required>
      {% for book in books %}
      <option value="{{ book.id }}">{{ book.title }}</option>
      {% endfor %}
    </select>

    <label for="author_id">Select Author:</label>
    <select name="author_id" id="author_id" required>
      {% for author in authors %}
      <option value="{{ author.id }}">{{ author.name }}</option>
      {% endfor %}
    </select>

    <button type="submit" class="btn-delete">Remove Author from Book</button>
  </form>
</section>
{% endblock %}
