{% extends 'layout.html' %} {% block content %}
<section>
  <h2>Book Details</h2>
  <ul>
    <li>
      <p>
        <strong>{{ book.title }}</strong> ({{ book.published_year or "Unknown
        Year" }})
      </p>
      <p>ISBN: {{ book.isbn or "N/A" }}</p>
      <p>Pages: {{ book.pages or "N/A" }}</p>
      <p>Language: {{ book.language or "N/A" }}</p>
      <p>
        Authors: {% if book.authors %} {{ book.authors | map(attribute='name') |
        join(', ') }} {% else %} No authors {% endif %}
      </p>
      <p>
        <a href="{{ url_for('routes.edit_book', book_id=book.id) }}"
          >&#9998; Edit</a
        >
      </p>
      <p>
        <a href="{{ url_for('routes.book_list') }}">&#8592; Back to Books</a>
      </p>
    </li>
  </ul>
</section>
{% endblock %}
